
*.xcworkspacedata

Pods/
Podfile.lock
MyStore.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MyStore.xcodeproj/xcuserdata/ahmadjabri.xcuserdatad/xcschemes/xcschememanagement.plist
MyStore.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MyStore.xcodeproj/project.xcworkspace/contents.xcworkspacedata